name: Akaunting Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install PHP and Extensions
        run: |
          sudo apt update
          sudo apt install lsb-release ca-certificates apt-transport-https software-properties-common -y
          sudo add-apt-repository ppa:ondrej/php -y
          sudo apt install php8.2 -y
          sudo apt install php8.2-{bcmath,xml,fpm,mysql,zip,intl,ldap,gd,cli,bz2,curl,mbstring,pgsql,opcache,soap,cgi} -y
          php --version
          sudo apt install git
      - name: Install MariaDB Database server
        run: |
          sudo apt install mariadb-server mariadb-client -y
          sudo mysql -u root -e "CREATE DATABASE akaunting;"
          sudo mysql -u root -e "GRANT ALL PRIVILEGES ON akaunting.* TO 'akaunting'@'localhost' IDENTIFIED BY 'StrongPassword';"
          sudo mysql -u root -e "FLUSH PRIVILEGES;"
      - name: Download Akaunting software on Ubuntu
        run: |
          sudo git clone https://github.com/elbahiayoub/akaunting-stable.git
          sudo mv akaunting-stable akaunting
          sudo mv akaunting /var/www/html/
      - name: Install Apache and initialize Akaunting
        run: |
          sudo apt remove nginx -y
          sudo apt install apache2 -y
          sudo chown -R www-data:www-data /var/www/html/akaunting/public
          sudo tee /etc/apache2/sites-available/akaunting.conf > /dev/null <<EOF
          <VirtualHost *:80>
            ServerName localhost
            DocumentRoot /var/www/html/akaunting/public

            <Directory /var/www/html/akaunting/public>
              Options Indexes FollowSymLinks MultiViews
              AllowOverride All
              Order allow,deny
              allow from all
            </Directory>

            ErrorLog ${APACHE_LOG_DIR}/error.log
            CustomLog ${APACHE_LOG_DIR}/access.log combined
          </VirtualHost>
          EOF
          sudo a2ensite akaunting.conf
          sudo a2enmod proxy_fcgi
          sudo systemctl restart apache2
          sudo systemctl reload apache2

      - name: Test site
        run: |
          status_code=$(curl -s -o /dev/null -w "%{http_code}" -L http://localhost)
          if [[ "$status_code" == "200" ]]; then
            echo "Site is working correctly"
            html_content=$(curl -s http://localhost/install/requirements)
            echo "$html_content"
           
          else
            echo "Site is not working correctly, received status code: $status_code"
          fi
      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        with:
          tag_name: v1.0.0  # Specify the version/tag for the release
          release_name: Release v1.0.0
          draft: false
          prerelease: false
          
      #- name: Upload release asset
        #uses: actions/upload-release-asset@v1
        #env:
          #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        #with:
          #upload_url: ${{ steps.create_release.outputs.upload_url }}
          #asset_path: ./path/to/release/asset.zip  # Specify the path to your release asset
          #asset_name: asset.zip
          #asset_content_type: application/zip
  
